@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.week {
    border-collapse: collapse;
    width: 70%;
}

.firstRow{
    width: 8rem;
}

.weekth{
    width: 8rem;
    border: 1px solid #4d2121;
    text-align: left;
    padding: 7px;
    background-color: white
}
.weektd {
    width: 8rem;
    border: 1px solid #4d2121;
    text-align: left;
    padding: 7px;
    background-color: rgba(126, 176, 132, 0.699);
}

.weektd1{
    width: 8rem;
    border: 1px solid #4d2121;
    text-align: left;
    padding: 7px;
    background-color: white;
}

.colorChange{
    background-color: rgb(66, 164, 66);
}



.total {
    background-color: #4CAF50;
    color: white;
}


/* New style for the query box */

.query-box {
    background-color: #ff6347;
    /* Red color */
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 80%;
    /* Set the maximum width */
    margin-left: auto;
    /* Align to the left */
    margin-right: auto;
    /* Align to the right */
}

.edit-option {
    text-align: right;
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.highlight-cell {
    background-color: #ff6347;
    color: white;
}


/* here is the code of timer counter */

body {
    margin-top: 20px;
}

.box-counter-container {
    /* margin: 0 auto; */
    text-align: center;
    width: full;
    height: 100px;
    /* margin-left: 310px; */
}

.box-counter {
    position: relative;
    /* float: left; */
    margin: 0 10px;
    padding: 0;
    width: 150px;
    height: 120px;
    border-radius: 5px;
    background: #abcdef;
    
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.box-counter:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 50px 10px #ABCDEF;
    z-index: 999;
}

.box-counter:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px -50px 70px -50px rgba(100, 150, 180, 0.35);
    border-bottom: 1px solid rgba(100, 150, 180, 0.22);
    z-index: 1000;
}




.box-counter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    color: #FFF;
    text-align: center;
    line-height: 120px;
    font-family: Roboto;
    font-size: 6em;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 2px 2px 0px rgba(0, 0, 0, 0.08);
}

.unit {
    right: 0;
}

.ten {
    left: 0;
}

.one-sixtieth-second .ten {
    -webkit-animation: ten 1s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: ten 1s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: ten 1s cubic-bezier(1, 0, 0, 1) infinite;
    animation: ten 1s cubic-bezier(1, 0, 0, 1) infinite;
}

.one-sixtieth-second .unit {
    -webkit-animation: unit 0.6s linear infinite;
    -moz-animation: unit 0.6s linear infinite;
    -o-animation: unit 0.6s linear infinite;
    animation: unit 0.6s linear infinite;
}

.seconds .ten {
    -webkit-animation: ten 60s cubic-bezier(1, 0, 0, 1) 4.5s infinite;
    -moz-animation: ten 60s cubic-bezier(1, 0, 0, 1) 4.5s infinite;
    -o-animation: ten 60s cubic-bezier(1, 0, 0, 1) 4.5s infinite;
    animation: ten 60s cubic-bezier(1, 0, 0, 1) 4.5s infinite;
}

.seconds .unit {
    -webkit-animation: unit 10s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: unit 10s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: unit 10s cubic-bezier(1, 0, 0, 1) infinite;
    animation: unit 10s cubic-bezier(1, 0, 0, 1) infinite;
}

.minutes .ten {
    -webkit-animation: ten 3600s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: ten 3600s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: ten 3600s cubic-bezier(1, 0, 0, 1) infinite;
    animation: ten 3600s cubic-bezier(1, 0, 0, 1) infinite;
}

.minutes .unit {
    -webkit-animation: unit 600s cubic-bezier(1, 0, 0, 1) 30s infinite;
    -moz-animation: unit 600s cubic-bezier(1, 0, 0, 1) 30s infinite;
    -o-animation: unit 600s cubic-bezier(1, 0, 0, 1) 30s infinite;
    animation: unit 600s cubic-bezier(1, 0, 0, 1) 30s infinite;
}

.hours .ten {
    -webkit-animation: ten 216000s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: ten 216000s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: ten 216000s cubic-bezier(1, 0, 0, 1) infinite;
    animation: ten 216000s cubic-bezier(1, 0, 0, 1) infinite;
}

.hours .unit {
    -webkit-animation: unit 36000s cubic-bezier(1, 0, 0, 1) 30s infinite;
    -moz-animation: unit 36000s cubic-bezier(1, 0, 0, 1) 30s infinite;
    -o-animation: unit 36000s cubic-bezier(1, 0, 0, 1) 30s infinite;
    animation: unit 36000s cubic-bezier(1, 0, 0, 1) 30s infinite;
}

@-webkit-keyframes unit {
    10% {
        transform: translateY(-120px);
    }
    20% {
        transform: translateY(-240px);
    }
    30% {
        transform: translateY(-360px);
    }
    40% {
        transform: translateY(-480px);
    }
    50% {
        transform: translateY(-600px);
    }
    60% {
        transform: translateY(-720px);
    }
    70% {
        transform: translateY(-840px);
    }
    80% {
        transform: translateY(-960px);
    }
    90% {
        transform: translateY(-1080px);
    }
    100% {
        transform: translateY(-1200px);
    }
}

@-moz-keyframes unit {
    10% {
        -moz-transform: translateY(-120px);
    }
    20% {
        -moz-transform: translateY(-240px);
    }
    30% {
        -moz-transform: translateY(-360px);
    }
    40% {
        -moz-transform: translateY(-480px);
    }
    50% {
        -moz-transform: translateY(-600px);
    }
    60% {
        -moz-transform: translateY(-720px);
    }
    70% {
        -moz-transform: translateY(-840px);
    }
    80% {
        -moz-transform: translateY(-960px);
    }
    90% {
        -moz-transform: translateY(-1080px);
    }
    100% {
        -moz-transform: translateY(-1200px);
    }
}

@-o-keyframes unit {
    10% {
        -o-transform: translateY(-120px);
    }
    20% {
        -o-transform: translateY(-240px);
    }
    30% {
        -o-transform: translateY(-360px);
    }
    40% {
        -o-transform: translateY(-480px);
    }
    50% {
        -o-transform: translateY(-600px);
    }
    60% {
        -o-transform: translateY(-720px);
    }
    70% {
        -o-transform: translateY(-840px);
    }
    80% {
        -o-transform: translateY(-960px);
    }
    90% {
        -o-transform: translateY(-1080px);
    }
    100% {
        -o-transform: translateY(-1200px);
    }
}

@keyframes unit {
    10% {
        transform: translateY(-120px);
    }
    20% {
        transform: translateY(-240px);
    }
    30% {
        transform: translateY(-360px);
    }
    40% {
        transform: translateY(-480px);
    }
    50% {
        transform: translateY(-600px);
    }
    60% {
        transform: translateY(-720px);
    }
    70% {
        transform: translateY(-840px);
    }
    80% {
        transform: translateY(-960px);
    }
    90% {
        transform: translateY(-1080px);
    }
    100% {
        transform: translateY(-1200px);
    }
}

@-webkit-keyframes ten {
    16.666% {
        -webkit-transform: translateY(-120px);
    }
    33.333% {
        -webkit-transform: translateY(-240px);
    }
    50% {
        -webkit-transform: translateY(-360px);
    }
    66.666% {
        -webkit-transform: translateY(-480px);
    }
    83.333% {
        -webkit-transform: translateY(-600px);
    }
    100% {
        -webkit-transform: translateY(-720px);
    }
}

@-moz-keyframes ten {
    16.666% {
        -webkit-transform: translateY(-120px);
    }
    33.333% {
        -webkit-transform: translateY(-240px);
    }
    50% {
        -webkit-transform: translateY(-360px);
    }
    66.666% {
        -webkit-transform: translateY(-480px);
    }
    83.333% {
        -webkit-transform: translateY(-600px);
    }
    100% {
        -webkit-transform: translateY(-720px);
    }
}

@-o-keyframes ten {
    16.666% {
        -webkit-transform: translateY(-120px);
    }
    33.333% {
        -webkit-transform: translateY(-240px);
    }
    50% {
        -webkit-transform: translateY(-360px);
    }
    66.666% {
        -webkit-transform: translateY(-480px);
    }
    83.333% {
        -webkit-transform: translateY(-600px);
    }
    100% {
        -webkit-transform: translateY(-720px);
    }
}

@keyframes ten {
    16.666% {
        -webkit-transform: translateY(-120px);
    }
    33.333% {
        -webkit-transform: translateY(-240px);
    }
    50% {
        -webkit-transform: translateY(-360px);
    }
    66.666% {
        -webkit-transform: translateY(-480px);
    }
    83.333% {
        -webkit-transform: translateY(-600px);
    }
    100% {
        -webkit-transform: translateY(-720px);
    }
}

label {
    position: absolute;
    bottom: 3px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 75%;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 10px rgba(120, 170, 200, 0.5);
    z-index: 1001;
}


/* the transition of colour */

#next-query-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


/* to create an arrow in the button */


/* #next-query-btn::before {

    content: '';
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
} */

.arrow {
    opacity: 0;
    position: absolute;
    left: 90%;
    top: 50%;
    margin-top: 405px;
    transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    /* Rotate the arrows to the left */
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow-third {
    animation: arrow-movement 3s 2s 1s ease-in-out infinite;
    /* Added third arrow with 2s delay */
}

.arrow:before,
.arrow:after {
    background: #7f5050;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}