@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


@keyframes circleAnimation {
    0% {
      stroke-dasharray: 125.664; /* Full circumference of the circle */
      stroke-dashoffset: 125.664;
    }
    100% {
      stroke-dasharray: 125.664;
      stroke-dashoffset: 0;
    }
}



